body {
    background-color: rgb(202, 175, 147);
  }
  
.btn me-5 {
padding-right: 5px;
}


.navbar {
    width: 100%;
}

.card-container {
    position: relative;
    margin-left: 100px; /* Adjust the margin-left value as needed */
  }
